body{
    background: radial-gradient(circle at 50% 50%, #1d1e36, #0a0920);
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: large;
    font-style: normal;
}
.titulo > p {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin: 30px;
    color: white;
}
.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    gap: 20px;
    padding: 10px;
    margin: 20px;
}

.galeria img {
    width: 100%;
    height: auto; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.galeria img:hover {
    transform: scale(1.05);
}