*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#body{
    background-color: rgb(226, 226, 226);
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
}

#navbar {
    margin: 0rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    z-index: 1000;
}
#navbar ul,li {
    list-style: none;
}
#navbar a{
    text-decoration: none;
}
#navbar .links {
    display: flex;
    align-items: center;
}
#navbar .links > ul > li > a {
    color: white;
}
#navbar .links > ul > li > a:hover {
    color: rgb(149, 149, 231);
    transition: 0.3s all;
}
#navbar .links > li {
    margin: 0 1rem 0 1rem;
}

#navbar .img_logo {
    width: 3.5rem;
}

#navbar .newsletter_nav > li > a {
    color: rgb(121, 119, 247);
    font-weight: 500;
    outline: solid 2px;
    padding: 0.3rem;
    border-radius: 3px;
}

#navbar .newsletter_nav > li > a:hover{
    color: rgb(255, 255, 255);
    transition: 0.4s all ease-in-out;
}

#navbar .links-4 {
    display: flex;
}

#navbar .links-4 > li {
    margin: 0 1rem 0 1rem;
}
