body{
    background: radial-gradient(circle at 50% 50%, #1d1e36, #0a0920);
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: large;
    font-style: normal;
}
h2 {
    text-align: center;
    color: white;
    margin: 20px;
    margin-bottom: 40px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card{
    width: calc(50% - 20px);
    max-width: 400px;
    text-align: justify;
    margin: 20px;
    background: linear-gradient(135deg, #4a437e, #664c91);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(30, 20, 68, 0.2);
    padding: 20px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.card:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    }

.card > h3{
    text-align: center;
    color: white;
    margin-bottom: 10px;

}
.card > p {
    color: white;
    font-size: 14px;
    line-height: 1.6;
}

@media screen and (max-width: 1024px){
    .card{
        width: calc(100% - 20px);
    }
}